/* Primary colour for buttons (alt) */
/* Text on primary colour bg */
/* Secondary buttons */
/* Text on secondary colour bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
/* Content BG - Tabs (active state) */
/* small, breadcrumbs etc */
/* Product loops */
div.products h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
}
div.products a {
  text-decoration: none;
}
div.products a img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 0 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
div.products a:hover img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}
div.products strong {
  display: block;
}
div.products .price {
  color: #85ad74;
  display: block;
  font-weight: normal;
  margin-bottom: .5em;
}
div.products .price del {
  font-size: 0.67em;
  color: rgba(145, 145, 145, 0.5);
  margin: -2px 0 0 0;
}
div.products .price ins {
  background: none;
}
div.products .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(145, 145, 145, 0.5);
}
